snippet TEMP "template" A
---
# ques-$1
question:
  text: |
  pre: |
  miscon:
    - path:
      - 
    - path:
      -
  oldcon: |
  newcon: |
answers:
  - text: |
    correct: false
  - text: |
    correct: false
  - text: |
    correct: false
  - text: |
    correct: false
endsnippet

